.global-header {
  justify-content: space-between;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: #FFFFFFA0;
  border-bottom: 1px #A0A0A0A0;
}

/* Style for website if user system color is dark */
@media (prefers-color-scheme: dark) {
  .global-header.adaptive {
    justify-content: space-between;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #404040A0;
    border-bottom: 1px #A0A0A0A0;
  }
}